#{extends 'main.html' /}
#{set title:'Home' /}
<div class="pagination">
	<span class="previousInactive">&laquo; Previous</span>
	<span class="current">1</span>
	<a class="number" href="#">2</a>
	<a class="number" href="#">3</a>
	<a class="number" href="#">4</a>
	<span class="inactive">...</span>
	<a class="lastNumber" href="#">17</a>
	<a class="next" href="#">Next &raquo;</a>
</div>
<div class="pagination">
	<span class="previousInactive">&laquo; Pr&eacute;c&eacute;dent</span>
	<span class="current">1</span>
	<a class="number" href="#">2</a>
	<a class="number" href="#">3</a>
	<a class="number" href="#">4</a>
	<span class="inactive">...</span>
	<a class="lastNumber" href="#">17</a>
	<a class="next" href="#">Suivant &raquo;</a>
</div>
<div class="pagination">
	<a class="previous" href="#">&laquo; Previous</a>
	<a class="number" href="#">1</a>
	<span class="inactive">...</span>
	<a class="number" href="#">14</a>
	<a class="number" href="#">15</a>
	<span class="current">16</span>
	<a class="lastNumber" href="#">17</a>
	<a class="next" href="#">Next &raquo;</a>
</div>
<div class="pagination">
	<a class="previous" href="#">&laquo; Pr&eacute;c&eacute;dent</a>
	<a class="number" href="#">1</a>
	<span class="inactive">...</span>
	<a class="number" href="#">141</a>
	<a class="number" href="#">142</a>
	<span class="current">143</span>
	<a class="lastNumber" href="#">144</a>
	<a class="next" href="#">Suivant &raquo;</a>
</div>
<div class="pagination">
	<a class="previous" href="#">&laquo; Pr&eacute;c&eacute;dent</a>
	<a class="number" href="#">1</a>
	<span class="inactive">...</span>
	<a class="number" href="#">141</a>
	<a class="number" href="#">142</a>
	<a class="number" href="#">143</a>
	<span class="current lastCurrent">144</span>
	<span class="nextInactive">Suivant &raquo;</span>
</div>